/**** BACKGROUNDSLIDER ***/


.currentslide {
	

}

.queudedslides{
	
}


.backgroundslider { 
	min-height: 100vh;
	overflow: hidden;
    position: relative; 
   
}

.backgroundslider > div { 
    position: absolute; 
    
}