.burgerwrap {
	/*
  margin:0;
  padding:0;
  background:  linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)),url(img/home.png) no-repeat top fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari
  background-size: cover; /* version standardisée
  overflow: hidden;*/
	position: relative;
}

.content {
	padding-top: 0%;
	padding-bottom: 0%;
	top: 0;
	position: absolute;
}

.animatemain {
	-webkit-transform: translateY(20%);
	transform: translateY(20%);
	-webkit-transition: .6s;
	transition: .6s;
}

.animateupmain {
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
	-webkit-transition: .6s;
	transition: .6s;
}

.movebottom {
	top: 58vh!important;
}


/**** ************************ Headermobile.HTML****************************/

.button {
	z-index: 1000;
	width: 50px;
	height: 50px;
	box-sizing: border-box;
	margin-top: 10px;
	-webkit-tap-highlight-color: transparent;
	visibility: visible;
	/**/
}

.barra {
	display: block;
	width: 27px;
	height: 2px;
	background-color: #696969;
	-webkit-transition: .3s;
	transition: .3s;
	pointer-events: none;
	margin-left: 3%;
}

.barra:nth-child(2) {
	margin: 6px 0;
	margin-left: 3%;
}

.open {
	border-color: #cec6c8;
}

.open span {
	background: #cec6c8;
}

.open .barra:first-child {
	-webkit-transform: translateY(7.5px) rotate(-45deg);
	transform: translateY(7.5px) rotate(-45deg);
}

.open .barra:nth-child(2) {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	opacity: 0;
}

.open .barra:last-child {
	-webkit-transform: translateY(-7.5px) rotate(-135deg);
	transform: translateY(-7.5px) rotate(-135deg);
}

.nav {
	width: 100%;
	right: 0;
	opacity: 0;
	-webkit-transition: .6s;
	transition: .6s;
	position: absolute;
	z-index: -1;
	top: 0%;
	background: #eaebec;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	padding-bottom: 10%;
	visibility: visible;
	padding-top: 30px;
}

.navclose {
	-webkit-transform: translateY(-100%);
	-webkit-transition: .6s;
	-moz-transform: translateY(-100%);
	-moz-transition: .6s;
	transform: translateY(-100%);
	height: 90vh;
}

.navopen {
	opacity: 1;
	-webkit-transform: translateY(0%);
	-webkit-transition: .6s;
	-moz-transform: translateY(0%);
	-moz-transition: .6s;
	transform: translateY(0%);
	height: 90vh;
}

code {
	color: transparent;
	font-size: 0;
}

.nav li {
	padding-left: 15%;
	background: none;
}

.navmobile {
	display: none;
	position: fixed;
	z-index: 10000;
}

.nav a {
	opacity: 1;
}

.nav a {
	text-decoration: none;
	display: inline-block;
	letter-spacing: .4rem;
	letter-spacing: .1rem;
	color: #696969;
	font-size: 2.5rem;
}

.nav a:hover {
	color: #e26b63;
	text-decoration: none;
	-webkit-transition: .6s;
	transition: .6s;
}


/*
#me a {
	border: none;
	background: none;
	text-decoration: none;
	width: 100%;
}

#me {
	margin-top: 7%;
}
*/

.accordiontarget a {
	font-size: 1rem;
	padding: 0;
	padding-top: 2%;
}

.accordiontarget li {
	padding: 2.5% 0 2.5% 0;
}

.accordiontarget li:last-child {
	padding-bottom: 0;
}

.accordiontarget {
	position: absolute;
	z-index: 0;
	margin-top: 2%;
	display: inline-block;
	bottom: -10vh;
	top: -0vh;
	-webkit-transition-property: height;
	transition-property: height;
	transition-duration: 0.5s;
	-webkit-transition-property: top, bottom;
	-webkit-transition-duration: 0.5s;
	opacity: 0;
	visibility: hidden;
	height: 0;
	overflow: hidden;
	padding-bottom: 0;
}

.accordionopen {
	bottom: 40vh !important;
	display: block;
	bottom: 40vh !important;
	top: 4vh;
	visibility: inherit;
	opacity: 1;
	height: 200%;
	padding-bottom: 0;
	padding-left: 10%;
}

.accordionmove {
	top: 0px;
	bottom: 5vh;
	transition-property: top, bottom;
	transition-duration: 0.5s;
	-webkit-transition-property: top, bottom;
	-webkit-transition-duration: 0.5s;
	position: relative;
}

.move {
	top: 16vh;
	bottom: 100px;
}

#homelogo {
	padding-left: 10px;
}

.logomobile {
	display: inline-block;
	width: 22%;
	margin-top: 3%;
	margin-right: 4%;
	visibility: visible;
}


/**** ************************ Headermobile.HTML display****************************/

@media (max-width: 800px) {
	
	
	.navfull {
		display: none!important;
	}
	.navmobile {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
	
	#truckwrap {
		margin-top: 10%;
	}
	#truckwrap .community {
		top: 80%;
	}
	
	.accordionopen {
		bottom: 40vh !important;
		display: block;
		bottom: 40vh !important;
		visibility: inherit;
		opacity: 1;
		height: 300% !important;
		padding-bottom: 0;
		padding-left: 10%;
	}
	.move {}
	.move:last-child {
		margin-top: 3%;
	}
}